{% extends 'base.html' %}

{% block body %}

<br>

<div class="button-group">

	<a href="{% url 'display_Farhan' %}" class="btn btn-primary btn-md" role="button"> Farhan</a>
	<a href="{%url 'add_Farhan' %}" class="btn btn-warning btn-sm" role="button"> +</a>

	<a href="{% url 'display_Nadia' %}" class="btn btn-primary btn-md" role="button"> Nadia</a>
	<a href="{%url 'add_Nadia' %}" class="btn btn-warning btn-sm" role="button"> +</a>

	<a href="{% url 'display_FarhanFamily' %}" class="btn btn-primary btn-md" role="button"> FarhanFamily</a>
	<a href="{%url 'add_FarhanFamily' %}" class="btn btn-warning btn-sm" role="button"> +</a>

	<a href="{% url 'display_Ongie' %}" class="btn btn-primary btn-md" role="button"> Ongie</a>
	<a href="{%url 'add_Ongie' %}" class="btn btn-warning btn-sm" role="button"> +</a>

	<a href="{% url 'display_Orange' %}" class="btn btn-primary btn-md" role="button"> Orange</a>
	<a href="{%url 'add_Orange' %}" class="btn btn-warning btn-sm" role="button"> +</a>
</div>

<br>

<h4>Currently Viewing {{ header }}</h4>
<table class="table table-hover .w-auto">

	<thead>
		<tr>
			<th>id</th>
			<th>Title</th>
			<th>Price</th>
			<th>Category</th>
			<th>Date</th>
			<th>FY</th>
			<th>Image</th>
		</tr>
	</thead>

	<tbody>

		{% for item in items %}

		<tr>
			<td>{{ item.pk }}</td>
			<td>{{ item.Title }}</td>
			<td>{{ item.Price }}</td>
			<td>{{ item.Category }}</td>
			<td>{{ item.Date }}</td>
			<td>{{ item.FY }}</td>
			<td>{{ item.Image }}</td>

         {% if header == "Farhan" %}
        <td>
            <a href="{% url 'edit_Farhan' item.pk %}" class="btn btn-warning btn-sm mr-1" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Farhan' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            <td>
            	
            	<td>{{item.Capital}}</td>
            	
            </td>	
        </td>
        {% elif header == "Nadia" %}
        <td>
            <a href="{% url 'edit_Nadia' item.pk %}" class="btn btn-warning btn-sm mr-1" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Nadia' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header == "FarhanFamily" %}
        <td>
            <a href="{% url 'edit_FarhanFamily' item.pk %}" class="btn btn-warning btn-sm mr-1" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_FarhanFamily' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header == "Ongie" %}
        <td>
            <a href="{% url 'edit_Ongie' item.pk %}" class="btn btn-warning btn-sm mr-1" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Ongie' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>

        {% else %}
         <td>
            <a href="{% url 'edit_Orange' item.pk %}" class="btn btn-warning btn-sm mr-1" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_Orange' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
         </td>


        {% endif %}


      </tr>

      {% endfor %}
	</tbody>

</table>


{% endblock %}